<h2>Edit Profile</h2>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.email_field :username, autofocus: true, autocomplete: "username" ,class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label "プロフィール画像" %><br />
    <%= f.file_field :originalimage, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <script type="text/javascript">
  $('#user_originalimage').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert('画像は5MB以下にしてください');
    }
  });
  </script >
  <div class="field">
    <%= f.label "プロフィール" %><br />
    <%= f.text_area :profile, autofocus: true, autocomplete: "profile" ,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更する場合のみ入力)</i>
        <% if @minimum_password_length %>
      *<%= @minimum_password_length %> 文字以上
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control"%>

  </div>

  <div class="field">
    <%= f.label :password_confirmation %><i>(変更する場合のみ入力)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(プロフィールの変更に必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>
</br>
<h2>Delete Account</h2>

<p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn btn-danger", method: :delete %></p>
</br>
<%= link_to "Back", :back %>
</div>
</div>
