<h2>Sign up</h2>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "your name" ,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,class: "btn btn-primary"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
</div>
