
<%- if controller_name != 'sessions' %>
  <p id="login">or <%= link_to "Log in", new_session_path(resource_name) %></p><br />
<% end %>
<div class="signup">
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p id="signup">or <%= link_to "Sign up Now!", new_registration_path(resource_name) %></p><br />
<% end %>
</div>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>


<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider) do %>
      <%= image_tag("sign-in-with-twitter-gray.png") %>
    <% end %><br />
  <% end %>
<% end %>
