<div id="follow_form">
  <% if current_user.following? @user %>
    <%= link_to "フォロー中", {controller: :users, action: :unfollow, user_id: @user.id}, method: :put,
    class: 'btn followingbtn'%>
  <% else %>
    <%= link_to "フォローする", {controller: :users, action: :follow, user_id: @user.id}, method: :put, class: 'btn followbtn outline' %>
  <% end %>
</div>
