
<header class="site-header flex">
  <ul class="list-inline">
    <li class="list-inline-item">
      <% if @user.originalimage? %>
        <img src= <%= @user.originalimage %> class="icon">
      <%elsif @user.image? %>
        <img src= <%= @user.image %> class="icon">
      <% else %>
        <%= image_tag('nonicon.png' ,class: 'icon') %>
      <% end %>
    </li>
    <li class="list-inline-item"><h3><%= @user.username %></h3></li>
    <li class="list-inline-item"><h2 id="header_profile"><%= @user.profile %></h2></li>
    <li class="list-inline-item">
    <p class="header_follow">
    <%= @user.follow_count %>
    <%= link_to "following", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get%>
    </p>
    </li>
    <li class="list-inline-item">
    <p class="header_follow">
    <%= @user.followers_count %>
    <%= link_to "follower", {controller: :users,action: :follower_list, user_id: @user.id},
    method: :get %>
    </p>
    </li>
    <li class="list-inline-item">
    <p class="header_follow">
    <%= pluralize(@user.microposts.count, "record", locale: :en) %>
    </p>
    </li>
    <% if current_user.id != @user.id %>
      <%= render 'users/follow_form' %>
    <% end %>
</header>
