
    <li class="users list-inline-item">
    <div class="row d-flex flex-column">
    <div class="icon user-index-icon">
      <% if user.originalimage? %>
        <img src= <%= user.originalimage %> class="user-index-icon">
      <%elsif user.image? %>
        <img src= <%= user.image %> class="user-index-icon">
      <% else %>
        <%= image_tag('nonicon.png' ,class: 'user-index-icon') %>
      <% end %>
    </div>
    <div class="user_profile">
    <%= link_to user.username, user %>
    </div>
    <p class="user_profile"><%= user.profile %></p>
    </div>
    </li>
