<% provide(:title, 'Following') %>
<h1>Users</h1>
<h3 class="followedby">Followed by <%= link_to @user.username, user_path(@user) %></h3>
<div class="container">
    <% if @user.all_following.any? %>
      <%= will_paginate @following %>
        <ul class="users list-inline">
         <% @user.all_following.each do |user| %>
            <li class="users list-inline-item">
                <div class="row d-flex flex-column">
             <div class="icon user-index-icon">
               <% if user.originalimage? %>
                 <img src= <%= user.originalimage %> class="user-index-icon">
               <%elsif user.image? %>
                 <img src= <%= user.image %> class="user-index-icon">
               <% else %>
                 <%= image_tag('nonicon.png' ,class: 'user-index-icon') %>
                  <% end %>
              </div>
                  <p class="user_profile"><%= link_to user.username, user_path(user) %></p>
                <% end %>
                </div>
            </li>
            </ul>
       <%= will_paginate @following %>
     <% end %>
    </div>
