<% provide(:title, @user.username) %>
<div class="container">
<%= render 'users/user_header' %>
<div class="feed-page">
  <% if @user.microposts.any? %>
    <div class="flex-box">
    <ol class="microposts list-inline">
    <%= render @microposts %>
    </ol>
    </div>
    <%= will_paginate @microposts %>
  <% end %>
</div>
</div>
