
<header class="site-header">
    <!--ユーザー情報部分-->
    <div class="row site_header_row">
    <ul class="list-inline">
    <div class="col-md-2">
    <%= render 'shared/user_image' %>
    <h2 class="header_user"><%= link_to current_user.username, current_user,class:"header_user" %></h2>
    <%= @user.follow_count %>
    <%= link_to "following", {controller: :users,action: :follow_list, user_id: @user.id},
    method: :get %></br>
    <div id="following-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </li>
    <%= @user.followers_count %>
    <%= link_to "follower", {controller: :users,action: :follower_list, user_id: @user.id},
    method: :get %>
    </div>
    <!--投稿フォーム部分-->
    <li class="list-inline-item col-md-10"><%= render 'shared/searchform' %></li>
    </ul>
    </div>
</header>
