
<div class="row">
<%= form_for(@micropost,:html => {:class => "form-inline"}) do |f| %>
    <div class="row col-md-4 search">
    <%= f.text_field :artistname, placeholder: "Artist Name", class:"form-control mb-2 mr-sm-2 searchform" ,name: "artistname"%>
    <%= f.text_field :albumtitle, placeholder: "Album Title", class:"form-control mb-2 mr-sm-2",name: "albumtitle" %>
    <%= render 'microposts/searchbutton' %>
    </div>
    <%= render 'microposts/searchresult' %>
    <div class="form-group col-md-2 container">
    <div class="row  mood">
      <%= render '/microposts/micropost_error_messages' %>
    <%= f.text_field :content, placeholder: "Choose your mood",class:"form-control contentform"%>
    <%= f.submit "Post", class:"btn btn-primary header_btn btn-sm mb-2 mr-sm-2" %>
    </div>
    </div>
<% end %>
</div>
