<%- if controller_name = 'pages' %>
  <% if current_user.originalimage? %>
    <img src= <%= current_user.originalimage %> class="icon header_user">
  <%elsif current_user.image? %>
    <li class="list-inline-item"><img src= <%= current_user.image %> class="icon"></li>
  <% else %>
    <li class="list-inline-item"><%= image_tag('nonicon.png' ,class: 'icon') %></li>
  <% end %>
<% end %>
