<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
 <style>
  body{
      background-image: url(<%= image_path("emojirecords_background.jpg") %>);
      background-position: 0 -35px;
      background-repeat: no-repeat;
    }
  </style>

<body class="login" >
<div class="container">
<div class="bg-img">
<h1 class="about">What is EMOJI RECORDS ?</h1>
<h3 class="about">気持ち 💓 を、音楽 🎧 と、絵文字 🍕 で表そう。</h3>
</br>
</br>
<div class="row">
<ul class="list-inline">
<li class="about-img list-inline-item"><%= image_tag 'aboutsite.png', class:'about-img' %></li>
<li class="list-inline-item"><h2 class="about">好きな音楽を検索。</h2></li>
</ul>
</br>
</br>
</br>
</br>
<ul class="list-inline">
<li class="list-inline-item"><h2 class="about2">見て楽しめる。</h2></li>
<li class="list-inline-item about-img2"><%= image_tag 'aboutsite2.png', class:'about-img2' %></li>
</ul>
</div>
</div>
</div>
</body>
</html>
