
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
$(function () {
  $('#search_button').on('click', function () {
   var artistname = $('#my-form [name=artistterm]').val();
   var albumname = $('#my-form [name=albumterm]').val();
	 var term = artistname + albumname;
    $.ajax({
      url: 'https://itunes.apple.com/search',
      type: 'GET',
      data: {
        term: term,
        country: 'jp',
        media: 'music',
        entity: 'album',
        lang: 'ja_jp',
        limit: '10'
      },
      dataType: 'jsonp',
      timespan: 1000
    }).done(function (data) {
      var result = data.results[0];
      var resultcount = data.resultCount;
      if (result == null) {
        $("#image-box").children("img").attr({ 'src': '' });
        $('#searchresult').text("検索結果が見つかりません");
      }
      else {
        $("#searchresult").remove();
        $('#artistname').text(result.artistName);
        $('#albumtitle').text(result.collectionName);
        $('#artwork').text(result.artworkUrl100);
        var url = result.artworkUrl100;
        $("#image-box").children("img").attr({ 'src': url });
      }
    });
  }).fail(function (jqXHR, textStatus, errorThrown) {
    $("#span1").text(jqXHR.status); //例：404
    $("#span2").text(textStatus); //例：error
    $("#span3").text(errorThrown); //例：NOT FOUND
  });
});
</script>
</head>
<body>

<p>アーティスト名：<span id="artistname"></span></p>
<p>トラック名：<span id="albumtitle"></span></p>
<p>トラック名：<p><span id="artwork"></span></p>
<div id="image-box"><img /></div>
<p id="searchresult"></p>
<form id="my-form">
	<input type="text" name="artistterm" value="" />
	<input type="text" name="albumterm" value="" />
</form>

<input type="button" id="search_button" value="検索">
<p>エラー原因</p>
<p><span id="span1"></span></p>
<p><span id="span2"></span></p>
<p><span id="span3"></span></p>
<textarea id="example1"></textarea>

</html>
