<% if @micropost.errors.any? %>
    <% @micropost.errors.full_messages.each do |message| %>
      <li id="micropost-error"><%= message %></li>
    <% end %>
<% else %>
  <div class="mt-5"></div>
<% end %>
