    <div class="col-md-3 search">
    <div class="row">
    <div id="image-box"><img /></div><p id="searchresult"></p></div>
    <p class="searchresult"><span id="artistname"></span></p>
        <p class="searchresult"><span id="albumtitle"></span></p>
        </div>
