<div class="modal-dialog modal-dialog-centered ">
  <div class="modal-content">
   <div class="row modal_micropost_content">
    <div class="col-md-6">
    <img src=<%= @micropost.artworkimg %> class="artwork">
    </div>
    <div class="col-md-6">
    <h2><%= @micropost.artistname %></h2>
    <h3><%= @micropost.albumtitle %></h3>
    <h2><%= @micropost.content %></h2>
    <p>Posted by <%= @micropost.user.username %></p>
    </div>
    </div>
  </div>
</div>
