@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* mordal */
.modal-dialog{
  margin-top:20px;
.modal-content {
 position:fixed;
 margin-top:30%;
 padding:20px 20px;
 border:1px solid #aaa;
 background-color:#fff;
 .p{
  font-size: 1.1em;
  line-height: 1.7em;
 }
}
}
.modal_micropost_content
{
  width:500px;
  word-wrap: break-word;
}
/* feed header */
.site-header{
   background: rgba(255,255,255,0.8);
    position: fixed;
    transition: .5s;
    z-index: 999;
    border-radius: 10px;
    width: 80%;
    .list-inline{
     text-align: center;
    .list-inline-item{
      // padding-left :20px;
      vertical-align: middle;
      }
    }
    .site_header_row{
      margin-bottom: 10px;
    }
}
.header_user{
  text-align: center;
}
#micropost-error{
  color: red;
}
.mt-5 {
  margin-top: 40px;
}
.user-show{
  width:60%;
}
.site-header.hide{
    transform: translateY(-100%);
}
.searchresult{
  font-size: 0.7em;
  margin: 0 0 0;
}
#search_button{
  width:auto;
}
#micropost_artistname{
  width:100%;
}
#micropost_albumtitle{
  width:100%;
}
.mood{
  display: flex;
  flex-direction: column;
  .contentform{
    width: 150px;
    margin: auto;
    margin-bottom: 15px;
  }
}
.search{
  margin-top:20px;
}
.icon{
  margin:auto;
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 50%;
  width:50px;
}
#image-box{
  margin:auto;
}
#searchresult{
    font-size: 0.9em;
    line-height: 1.7em;
    text-align: center;
    width: 100px;
    margin: auto;
}
/* universal */

body {
  padding-top: 60px;
}

.bg-img::after {
  content: '';
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:0 100px;
  height: 1000px;
}
h1.about{
  padding: .2em;
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
h3.about{
  line-height: 1;
  position: relative;
  z-index: 1;
  color: #1f1f1f;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
h2.about{
  line-height: 1;
  position: relative;
  z-index: 1;
  color: #1f1f1f;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
h2.about2{
  line-height: 1;
  position: relative;
  z-index: 1;
  color: #1f1f1f;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left:100px;
}
.about-img{
  z-index:1;
  margin:auto;
  position: relative;
  text-align: center;
  width:80%;
}
.about-img2{
  z-index:1;
  margin:auto;
  position: relative;
  text-align: right;
  width:75%;
  // margin-left: 250px;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.home h1{
  text-align: left;
  font-size: 3em;
}
/* loginform*/

.form_control{
  color: #fff;
  padding:10px;
  p{
    text-align: right;
    font-size: 1.1em;
  }
}

.label{
  color: #fff;
  font-size: 1.0em;
}
#signup{
  text-align: right;
  margin-right: 0;
}
#login{
  text-align: right;
  margin-right: 0;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
$bgDefault      : #f08080;
$bgHighlight    : #f08080;
$colDefault     : #ecf0f1;
$colHighlight   : #ecdbff;
$dropDown       : false;
.navbar {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.current_user_info {
  display: inline-block;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: center;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

  .followingbtn{
    background: #00aa9f;
    color: #fff;
  }
  .followbtn{
    background: #ecf0f1;
    color: #333333;
    }

.checkbox {
  margin-top: -10px;
  margin-bottom: 20px;
  span {
    margin-left: 10px;
    font-weight: normal;
    color: #fff;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

.form-inline{
  display: flex;
  .header_btn{
    margin-bottom: 15px;
    margin: auto;
    width: 60px;
  }
   .form-group{
    margin-left:10px;
    margin-right:10px;
  }
}
/* forms */

#error_explanation {
  color: red;
  ul {
    color: white;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* Users index */

.user-index-icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin:auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 30px;
    margin: 10px;
    width: 150px;
    vertical-align: top;
    .user_profile{
      text-align: center;
    }
  }
  }

#user_delete{
  text-align: right;
  margin-left: 70px;
}

$ng_alert_bg_color: #f2dede;
$ng_alert_border_color: #eed3d7;
$ng_alert_color: #b94a48;
$ok_alert_bg_color: #dff0d8;
$ok_alert_border_color: #d6e9c6;
$ok_alert_color: #468847;

/* Users Page */
#header_profile{
  margin-bottom: 10px;
}

.header_follow{
  margin-top: 20px;
  margin-bottom: 10px;
}

.followedby{
  text-align: center;
}

/* flash */
.notice {
  background-color: #5cb85c;
  color: #fff;
  text-align: center;
}

.alert {
  background-color: #d9534f;
  color: #fff;
  text-align: center;
  h2{
    color: #fff;
  }
  }
/* microposts */

.feed-page{
  padding-top:160px;
}
.flex-box{
   text-align: center;
}
.microposts {
.list-inline{
  list-style-type: none;
}
.list-inline-item{
  vertical-align:middle;
  margin: 0 10px;
  .feed-icon{
  border-radius: 50%;
  size: 10px;
}
}
.micropost-delete{
  text-align: right;
}
.content{
      margin:auto;
      vertical-align: middle;
      text-align: center;
      // display: block;
      padding:60px;
      width: 160px;
      height: 160px;
    }
  .artwork {
  list-style: none;
  display: block;
  margin: auto;
  width: 160px;
  height: 160px;
  .artworkimg{
  width: 80%;
    }
  }
  li {
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
